@import url('https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

@font-face {
font-family: 'NeueMetanaNext';
src:  url('NeueMetanaNext-SemiBold') format('otf')
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

html, body {
    overflow-x: hidden;
}

body{
    background-color: rgb(5, 5, 5);
}

#load_animation {
    position: fixed;
    z-index: 2000;
    height: 100vh;
    width: 100%;
    background-color: rgb(5, 5, 5);
    display: flex;
    justify-content: center;
    align-items: center;
}

#load_logo {
    height: 12vh;
}

#nav_backdrop {
    opacity: 0;
    position: fixed;
    z-index: 5;
    top: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.686);
    pointer-events: none;
}

#contrast_overlay {
    position: absolute;
    z-index: 0;
    height: 90vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.213);
    pointer-events: none;
}

.hero-banner {
    height: 85vh;
    width: 100%;
    background-image: url("images/LANDING-PAGE.gif");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#ne_logo_container {
    /* background-color: rgb(9, 9, 9); */
    z-index: 4;
    height: 7.5vh;
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    pointer-events: none;
}

#ne_logo {
    position: fixed;
    z-index: 4;
    height: 6vh;
    margin: 0.5rem 0;
}

#nav_ne_logo {
    position: absolute;
    height: 25vh;
    left: 1.5rem;
    top: 1rem;
    pointer-events: none;
    opacity: 0;
}

#nav_layer {
    position: fixed;
    z-index: 5;
    height: 100vh;
    width: 32rem;
    background-color: rgb(5, 5, 5);
    transform: translate(0, -100rem);
}

#nav {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 1rem;
    top: 15vh;
}

.nav-links {
    font-size: 1.1rem;
    padding: 1rem;
    opacity: 0;
}

/* UPCOMING SECTION */

.section-title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 3.5rem;
    padding: 0 16px;
}

/* CREW SECTION */

#crew_section {
    position: relative;
    width: 100%;
    background-color: rgb(5, 5, 5);
}

.crew__all-member-container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.crew__member-large-text {
    pointer-events: none;
    font-family: 'Dela Gothic One', cursive;
    font-family: 'NeueMetanaNext';
    text-align: center;
    font-size: 8rem; 
    opacity: 17%;
}

.crew__member-small-text {
    display: none;
    pointer-events: none;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    margin: 0 auto;
    pointer-events: none;
    font-size: 14px;
}

