* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

#contrast-overlay {
    position: fixed;
    z-index: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.405);
}

header {
    height: 100vh;
    width: 100%;
    background-color: rgb(9, 9, 9);
    background-image: url("images/LANDING-PAGE.gif");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#ne_logo_container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    pointer-events: none;
}

#ne_logo {
    position: absolute;
    height: 6vh;
    margin: 1rem 0;
}

#nav_layer {
    height: 100vh;
    width: 40rem;
    background-color: rgb(9, 9, 9);
    transform: translate(-40rem, 0);
}
#nav {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 1rem;
}

.nav-links {
    padding: 1rem;
}

#nav_button {
    position: absolute;
    height: 2rem;
    width: 2rem;
    top: 0;
    left: 0;
    background-image: url("images/burger.png");
    background-size: contain;
    margin: 1rem;
}

#nav_button:hover {
    cursor: pointer;
}

#exit_button {
    position: absolute;
    height:1.5rem;
    width: 1.5rem;
    top: 0;
    right: 0;
    background-image: url("images/cross.svg");
    background-size: contain;
    margin: 1rem;
    opacity: 20%;
}

#exit_button:hover {
    cursor: pointer;
}