@import url('https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

body{
    background-color: rgb(5, 5, 5);
}

#load_animation {
    position: fixed;
    z-index: 10;
    height: 100vh;
    width: 100%;
    background-color: rgb(5, 5, 5);
    display: flex;
    justify-content: center;
    align-items: center;
}

#load_logo {
    height: 15vh;
}

#contrast-overlay {
    position: absolute;
    z-index: 0;
    height: 90vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.213);
}

header {
    height: 90vh;
    width: 100%;
    background-image: url("images/LANDING-PAGE.gif");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#ne_logo_container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    pointer-events: none;
}

#ne_logo {
    position: fixed;
    z-index: 5;
    height: 6vh;
    margin: 0.5rem 0;
}

#nav_ne_logo {
    position: absolute;
    height: 30vh;
    left: 0.5rem;
    pointer-events: none;
    opacity: 0;
}

#nav_layer {
    position: fixed;
    z-index: 5;
    height: 90vh;
    width: 32rem;
    background-color: rgb(5, 5, 5);
    transform: translate(0, -100rem);
}

#nav {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 1rem;
    top: 15vh;
}

.nav-links {
    font-size: 1.25rem;
    padding: 1rem;
    opacity: 0;
}

#nav_button {
    position: fixed;
    z-index: 5;
    height: 1.4rem;
    width: 1.4rem;
    top: 0;
    left: 0;
    background-image: url("images/burger.png");
    background-size: contain;
    margin: 1.5rem 2rem;
}

#nav_button:hover {
    cursor: pointer;
}

#exit_button {
    position: absolute;
    height:1rem;
    width: 1rem;
    top: 0;
    right: 0;
    background-image: url("images/cross.svg");
    background-size: contain;
    margin: 1rem;
    opacity: 20%;
}

#exit_button:hover {
    cursor: pointer;
}

/* UPCOMING SECTION */

.section-title {
    font-size: 1.4rem;
    font-weight: 600;
    margin: 3.5rem 2rem;
}

/* CREW SECTION */

#crew_section {
    position: relative;
    width: 100%;
    background-color: rgb(5, 5, 5);
}

.crew-member-container {
    padding: 10rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.crew-member-container-2 {
    position: absolute;
    top: 0;
    padding: 15.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.crew-member {
    font-family: 'UnifrakturMaguntia', cursive;
    font-size: 8rem;
    padding: 0.5rem;
    opacity: 5%;
}

.crew-member:hover {
    cursor: pointer;
}

.crew-member-2 {
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: 4rem;
}

.crew-member-2:hover {
    cursor: pointer;
}